---
import Layout from "../layouts/Base.astro";
import Hero from "../components/Hero/Index.astro";
import Construction from "../components/Construction.astro";
import data from "../data/cv_esp.json";
// import About from "../components/cv/About.astro";
// import Experience from "../components/cv/Experience.astro";
// import Education from "../components/cv/Education.astro";
---

<Layout title={`${data.name} | ${data.about}`}>
    <main
        class="container relative mx-auto scroll-my-12 overflow-auto p-4 print:p-12 md:p-16"
    >
        <section
            class="w-full max-w-2xl space-y-8 print:space-y-6"
        >
            <Hero data={data} />
            <!-- <About /> -->
            <!-- <Experience /> -->
            <!-- <Education /> -->
            <Construction />
        </section>
    </main>
</Layout>
