---
const { sumary } = Astro.props;
---

<section class="flex min-h-0 flex-col gap-y-3">
    <h2 class="text-xl font-bold">Sobre mí</h2>
    <p class="text-pretty font-mono text-sm text-gray-600">
        {sumary}
    </p>
</section>
