---
import Section from "./Partials/Section.astro";

const { sumary } = Astro.props;
---

<Section name="Sobre mí">
    <p class="text-pretty font-mono text-sm text-gray-600">
        {sumary}
    </p>
</Section>
